*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

html,body{
    height:100%;
    background:#87CEEB;
    font-family:Helvetica,sans-serif;
}

#game{
    position:relative;
    width:480px;
    height:640px;
    margin:20px auto;
    overflow:hidden;
    border:6px dashed #ffcc33;
    background:#eee;
}

canvas {display:block}

.overlay{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    display:flex;
    align-items:center;
    justify-content:center;
    pointer-events:none;
}

#hud{
    position:absolute;
    right:16px;
    top:12px;
    z-index:30;
    color:#fff;
    font-weight:bold;
    text-shadow:0 2px 0 rgba(0,0,0,.4);
    font-size:28px
}

.centerBox_menu{
    pointer-events:auto;
    background:rgba(255,255,255,0.2);
    padding:20px 20px;
    border-radius:6px;
    text-align:center;
}

.menu{
    pointer-events:auto;
    display:flex;
    flex-direction:column;
    gap:12px;
    align-items:center
}

button{
    padding:8px 14px;
    border-radius:8px;
    border:none;
    background:#ffcc33;
    font-weight:700;
    cursor:pointer
}

#scoreList{
    position:absolute;
    left:12px;
    top:12px;
    color:#fff;
    text-shadow:0 2px 0 rgba(0,0,0,.4);
    z-index:30}

    #top5 {
        text-align: center;
        list-style-position: inside;
        padding-left: 0;
        margin: 0 auto;
      }
/* simple responsive */
@media(max-width:520px){#game{width:360px;height:480px}}