.pustyPoziom {
    height: 15px;
    border: 1px solid #000;
    background-color: white;
    width: 100px;
    margin-bottom: -1px;
    color: white;
    padding: 2px;
    font-size: 8px;
}

.napelnionyPoziom {
    height: 15px;
    border: 1px solid #000;
    background-color: rgb(116, 190, 210);
    width: 100px;
    margin-bottom: -1px;
    color: black;
    padding: 2px;
    font-size: 8px;
}