.book-card {
  background: transparent;
  border-radius: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  
  border-right: 1px solid var(--accent-muted);
  border-left: 1px solid var(--accent-muted);

  margin-left: -1px;
  
}



.book-card img {
  height: 180px;
  object-fit: contain;
  margin-bottom: 12px;
}



.book-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.book-author {
  font-size: 12px;
  color: #666;
  margin-bottom: 8px;
}

.book-price {
  font-size: 16px;
  font-weight: 700;
  margin-top: auto;

}


.book-link {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
}

.book-link a {
  padding: 8px;
  font-size: 13px;
  border-radius: 4px;
}


#book-details a {
  background-color: var(--accent-muted);
  color: var(--accent-muted-hoover);
  transition: 0.5s;
}

#book-details a:hover {
  background: var(--accent-muted-hover);
  transition: 0.5s;
}





#book-cart a {
  background: var(--accent);
  color: var(--text-buttons);
  transition: 0.5s;
}

#book-cart a:hover {
  background: var(--accent-hover);
  transition: 0.5s;
}


@media (min-width: 480px) {
  .book-item:nth-child(2n) {
    border-right: none;
  }
}

@media (min-width: 768px) {
  .book-item:nth-child(3n) {
    border-right: none;
  }
}

@media (min-width: 1024px) {
  .book-item:nth-child(4n) {
    border-right: none;
  }
}

@media (min-width: 1240px) {
  .book-item:nth-child(5n) {
    border-right: none;
  }
}


