.book-card {
    border: 1px solid #ddd;
    margin-right: -1px;
    padding: 1rem;
    width: 200px;
    background-color: white;
    min-height: 380px;
    margin-top:-1px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

   
  .book-link {
    text-align: center;

    width: 170px;
    margin-top: 6px;
    
  }
  
  .book-link a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #e9e6e3;
    color: #2B2B2B;
    text-decoration: none;
    border-radius: 4px;
    font-size: 15px;
    box-sizing: border-box;
    transition: background-color 0.3s;
  }
  
  .book-link a:hover {
    background-color: rgb(239, 235, 233);
  }

  .book-title{
    font-size: 15px;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: left;

  }

  .book-author{
    font-size: 13px;
    margin-bottom: 0.5rem;
    color: #555;
    margin-top: -10px;
  }

  .book-price {
    font-size: 17px;
    color: #524446;
    font-weight: bold;
  }

  .book-card img{
    height: 170px;


  }

  #book-cart a {
    background-color: #524446;
color: white;
  }
    #book-cart a:hover {
        background-color: rgb(101, 89, 89);
    }