
.filter-column {
    background-color: var(--bg-section);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 24px;
    border: 1px solid var(--accent-muted-hover);
    text-align: center;
  }
  
  .filter-column__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--text-main);
  }
  
  .filter-column__section {
    margin-bottom: 24px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--accent-mutted-hover);
  }
  
  .filter-column__section:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .filter-column__section h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 1.1rem;
    color: var(--text-muted);
  }



  .filter-reset {
    margin-top: 12px;
    gap: 6px;
    text-align: center;
    background-color: var(--accent);
    font-size: 13px;
    border-radius: 4px;
  }
  
  .filter-reset a {
    padding: 8px;
  }
  