.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    cursor: pointer;
  }
  
  .icon-button img {
    width: 24px;
    height: 24px;
    display: block;
  }
  