.nav-list {
    background-color: var(--accent);
    top: 64px;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid var(--accent-hover);
    width: 100%;
    z-index: 999;
}

.nav-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: auto; 
    flex: 1;
    transition: transform 0.2s;
}

.nav-list a {
    text-decoration: none;
    transition: all 0.4s;
    display: block;
    width: 100%;
    padding: 12px 20px; 
    color: var(--text-buttons);
    white-space: nowrap;
}

.nav-list a:hover {
    background-color: var(--accent-hover);
}

@media (max-width: 1100px) {
    .nav-list a {
        padding: 10px 10px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .nav-list {
        justify-content: flex-start;
        overflow-x: auto; 
        -webkit-overflow-scrolling: touch;
    }

    .nav-list::-webkit-scrollbar {
        display: none; 
    }

    .nav-list li {
        flex: 0 0 auto; 
    }

    .nav-list a {
        padding: 12px 25px;
    }
}