
.nav-list {
    background-color: var(--accent);
    position: sticky;
    top: 0; 
    text-align: center;
    list-style: none;
    display: flex;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid var(--accent-hover);
    width: 100%;
    
}

.nav-list li {
    display: inline;
    box-sizing: border-box;
    padding: 10px 10px;
    transition: transform 0.2s;
    
}



.nav-list a {
    text-decoration: none;
    transition: all 0.4s;
    position: relative;
    overflow: hidden;
    padding: 10px 10px;
    color: var(--text-buttons);
    z-index: 1000000;
  }
  

.nav-list a:hover{
    background-color: var(--accent-hover)
}