
.nav-list {
    background-color: var(--accent);
    position: sticky;
    top: 0; 
    text-align: center;
    list-style: none;
    display: flex;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid var(--accent-hover);
    width: 100%;
    
}

.nav-list li {
    display: inline;
    padding: 10px 10px;
    box-sizing: border-box;

    transition: transform 0.2s;
    
}

.nav-list a {
    text-decoration: none;
    color: var(--text-buttons);
}

.nav-list li:hover {
    background-color: var(--accent-hover);
    transform: all 0.2s;
    transition: transform 0.2s;
}