.search-input {
    width: 600px;
    padding: 8px 12px;
    border: 1px solid #5D4037;
    color: #35231d;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ebebeb;
    margin-right: 5px;
}

.search-input:focus {
    outline: none;
    border-color: #35231d;
    box-shadow: 0 0 5px #35231d;
    color: #35231d;
}

.search-button {
    padding: 8px 16px;
    margin-left: 0px;
    margin-right: 20px;
    background-color: var(--accent);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
transition: 0.5s;
    color: var(--text-buttons)
}

.search-button:hover {
    background-color: var(--accent-hover);
transition: 0.5s;
}