.search-input {
    width: 600px;
    padding: 8px 12px;
    border: 1px solid #5D4037;
    color: #35231d;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ebebeb;
}

.search-input:focus {
    outline: none;
    border-color: #35231d;
    box-shadow: 0 0 5px #35231d;
    color: #35231d;
}

.search-button {
    padding: 8px 16px;
    margin-left: 8px;
    background-color: #524446;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}