body {
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    text-align: center;
    color: rgb(205, 204, 204);
    text-shadow: 2px 2px 4px #000000;

}

button {
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
}