.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    height: 64px;
    padding: 40px 10px;
    background: var(--bg-section);
    border-bottom: 1px solid #ddd;

    box-sizing: border-box;
  
    transition:
      transform 0.25s ease,
      box-shadow 0.25s ease;
  }
  
  .header:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  }
  

.logo {
    margin-right: 20px;
    margin-top: 10px;
    height: 100px;
}

.logo-pic {
  margin-bottom: 0px ;
}

.header-icons {
    margin-left: auto;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.user-button {
    width: 20px;
}



@media (max-width: 1100px) {
  .header {
      margin-left: 0;           
      height: auto;             
      flex-direction: column;   
      padding: 15px;
      gap: 15px;                
      align-items: stretch;     
  }

  .logo-pic {
      display: flex;
      justify-content: center;  
  }

  .logo {
      margin: 0;               
      height: 50px;           
  }

  .header :any-link + div,      
  .header > *:nth-child(2) {
      width: 100%;
      order: 3;                 
  }

  .header-icons {
      margin-left: 0;
      justify-content: center; 
      gap: 25px;                
      order: 2;
  }

  .user-button {
      width: 25px;             
  }
}

@media (max-width: 768px) {
  nav, .navlist-container {
      overflow-x: auto;
      white-space: nowrap;
      padding: 10px 5px;
      display: flex;
      -webkit-overflow-scrolling: touch;
  }
}



@media (min-width: 1101px) and (max-width: 1300px) {

  .logo {             
    height: 50px;           
  }
}



@media (min-width: 1101px) and (max-width: 1440px) {



  .header-icons {
      margin-left: 0;
      justify-content: center; 
      gap: 10px;                
      order: 2;
      font-size: 13px;
  }

  .header-icons a {
    white-space: nowrap; 
}

.header-icons span {
    font-size: 14px;
    margin-top: 4px;
    white-space: nowrap; 
}

  

  .user-button {
      width: 25px;             
  }
}
