.header {
    position: sticky;
    top: 0;
    z-index: 1000;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    height: 64px;
    padding: 10px 20px;
    background: #F6F4F1;
    border-bottom: 1px solid #ddd;
  
    transition:
      transform 0.25s ease,
      box-shadow 0.25s ease;
  }
  
  .header:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  }
  

.logo {
    margin: -20px 0;
    height: 120px;
}

.header-icons {
    margin-left: auto;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.user-button {
    width: 20px;
}