.cart-page {
    display: flex;
    gap: 50px;
}

.books-cart-list{
    width: 70%;
}

.cart-summary{
    width: 30%;
    background-color: var(--bg-section);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 24px;
    box-sizing: border-boxs;
    border: 1px solid var(--accent-muted-hover);
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin-bottom: -1px;
    border-top: 1px solid var(--accent-muted);
    border-bottom: 1px solid var(--accent-muted);
}


.cart-item-text {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 90%;
    
}


.cart-item-left {
    display: flex;
    flex-direction: column;
    gap: 6px;

}

.cart-item-right {
    margin-left: auto;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cart-item img {
    width: 120px;
}

.cart-item-title {
    font-weight: 700;
    font-size: 18px;
}

.cart-item-price {
    font-weight: 800;
    font-size: 20px;
}

.qnt-change-button {
  text-align: center;
  background-color: var(--accent);
  font-size: 13px;
  border-radius: 10px;
  margin-left: 10px;
  color: var(--text-buttons);
  transition: 0.5s;
}

.qnt-change-button a {
    padding: 8px;
    border-radius: 4px;
  }
  
.qnt-change-button:hover{
    background: var(--accent-hover);
    transition: 0.5s;
  }

  .remove-button {
    text-align: center;
    background-color: var(--accent);
    font-size: 13px;
    border-radius: 10px;
    margin-left: 10px;
    color: var(--text-buttons);
    transition: 0.5s;
  }
  
  .remove-button a {
      padding: 8px;
      border-radius: 4px;
    }
    
  .remove-button:hover{
      background: var(--accent-hover);
      transition: 0.5s;
    }

    .item-summary-row {
        display: flex;
        gap: 20px;
    }
    .item-summary-title {
        text-align: left;
        width: 30%;
    }

    .item-summary-price{
        margin-left: auto;
    }

    .cart-summary-total {
        text-align: right;
        font-size: 24px;
        font-weight: 700;
    }

    .order-button {
        text-align: center;
        background-color: var(--accent);
        border-radius: 10px;
        margin-top: 10px;
        color: var(--text-buttons);
        transition: 0.5s;
        width: 100%;
    }
      
    .order-button:hover{
        background: var(--accent-hover);
        transition: 0.5s;
      }