/* src/pages/Produkty.css */
.products-page {
    max-width: 1240px;
    margin: 0 auto;
    padding: 24px 16px;
  }
  
  .products-page__title {
    margin-bottom: 0px;
    color: var(--text-main);
  }
  
  .products-page__layout {
    display: grid;
    grid-template-columns: 1fr 280px ;
    gap: 32px;
  }
  
  /* Responsywność */
  @media (max-width: 768px) {
    .products-page__layout {
      grid-template-columns: 1fr;
      gap: 24px;
    }
    
    .products-page__sidebar {
      order: 2;
    }
    
    .products-page__content {
      order: 1;
    }
  }
  

  .search-button__page {
    padding: 5px 10px;
    margin: auto 10px;
    background-color: var(--accent);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
    color: var(--text-buttons)
}

.search-button__page:hover {
    background-color: var(--accent-hover);
    transition: 0.5s;
}
