body {
    background: linear-gradient(130deg, #a088bd, #ded0f0, #9488a4);
}

main {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    font-family: 'Poppins', sans-serif;
    color: #213843;
  }

  @keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.content {
    width: 60%;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;
    border-radius: 20px;
    margin: 0px;
    backdrop-filter: blur(10px); /* rozmycie tła */
    font-family: Poppins, sans-serif;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

button, #back-button {
    text-decoration: none;
    margin-top: 10px;
    font-size: 17px;
    background: linear-gradient(135deg, #a78acd, #c5a8eb);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #ded3ec;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  button:hover, #back-button:hover {
    background: linear-gradient(135deg, #b295d8, #d1b7f3);
    transform: scale(1.1);
  }
  

#result-container {
    max-height: 60vh;
    z-index: 5;
    overflow-y:auto;
    width: 80%;
    border-radius: 50px;
    text-align: center;
    background-color: #f7f3fb;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0px 20px;
    overflow-wrap: break-word;   /* nowsza, zalecana */
    white-space: pre-wrap;       /* zachowuje formatowanie i łamie linie */
}

h3{
    text-decoration: none;
    background: linear-gradient(135deg, #a78acd, #c5a8eb);
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #ded3ec;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -30px;
    z-index: 10;
}

h4 {
    margin-bottom: 8px;
}